<!DOCTYPE html>
<html lang="en">
<head>
    <title>ClubOfPlayer</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>View ClubOfPlayer</h1>
    <table class="ClubOfPlayer-table">
    <tr>
        <th>PlayerID</th>
        <th>ClubID</th>
    </tr>
    <tr>
        <td><%= ClubOfPlayer.PlayerID %></td>
        <td><%= ClubOfPlayer.ClubID %></td>
    </tr>
</table>
<div class="link-center">
    <a href="/updateClubOfPlayer/<%= ClubOfPlayer.PlayerID %>">Edit</a>
    <a href="/updateClubOfPlayer/<%= ClubOfPlayer.PlayerID %>">Delete</a>
    <a href="/">Back to List</a>
</div>
</body>
</html>