<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Club Of Player</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Create Club Of Player</h1>
    <form method="post" action="/createClubOfPlayer">
        <label for="PlayerID">PlayerID</label>
        <input type="text" id="PlayerID" name="PlayerID">
        <br>
        <label for="ClubID">ClubID</label>
        <input type="text" id="ClubID" name="ClubID">
        <br>
        <input type="submit" value="create">
        <br>
    </form>
    <a href="/">Back to List</a>
</body>
</html>